body
{
    font-family: "montserrat";
    background-color: #44be63;
}
p
{
  color: #FDFA05;
}
.heading
{
  font-size:25px;
  text-align: center
}
.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  border: 1px dashed #444;
  width: 150px;
  height: 150px;
  transition: 500ms all;
}

input[type=radio]:checked + label>img {
  transform:
    rotateZ(-10deg)
    rotateX(10deg);
}

/*container*/
.container-fluid{
    padding: 3% 5%;
}
